<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor=black>
    <center>
        <font color=red> <h1>HOME</h1></font>
        <br><br><br><br><br><br>
       <font color=white> <h1>Welcome to my home page</h1></font>
       <div class="col col-12 col-sm-8 col-md-6">
            <font color=white>
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad et impedit perspiciatis quia ratione illum amet magni necessitatibus facere, dicta aliquid aliquam quisquam tenetur debitis delectus fugiat porro veritatis doloribus.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat voluptatem, ex laborum libero excepturi veniam ullam similique aspernatur molestias commodi dicta fugiat quis accusamus reiciendis officia, mollitia enim veritatis officiis!
             </font>   
        </div>
        <br><br><br>
    </center>
</body>
</html>
